.page.theme_dark {
    --main-color-text: #F1B2CE;
    --title-color: #DB00FF;
    --accent-color: #ff0070;
    --title-text-shadow: #ff0070;
    --accent-color-text: #000028;
    --decor-color: #ff0070;
    --hover-color: 255, 0, 112;
    --bg-color: #000028;
    --bg-image: url("../images/cover-image-dark.png");
    --rec-content-before: 'rec';
    --rec-content-after: '';
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color-text: #F1B2CE;
        --title-color: #DB00FF;
        --accent-color: #ff0070;
        --title-text-shadow: #ff0070;
        --accent-color-text: #000028;
        --decor-color: #ff0070;
        --hover-color: 255, 0, 112;
        --bg-color: #000028;
        --bg-image: url("../images/cover-image-dark.png");
        --rec-content-before: 'rec';
        --rec-content-after: '';
    }
}
