.page.theme_light {
    --main-color-text: #353430;
    --title-color: #FFC2E6;
    --title-text-shadow: #ff0070;
    --accent-color: #FF8DCB;
    --accent-color-text: #353430;
    --hover-color: 50, 49, 45;
    --decor-color: #353430;
    --bg-color: #ffeef6;
    --bg-image: url("../images/cover-image-light.png");
    --rec-content-before: none;
    --rec-content-after: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --main-color-text: #353430;
        --title-color: #FFC2E6;
        --title-text-shadow: #ff0070;
        --accent-color: #FF8DCB;
        --accent-color-text: #353430;
        --hover-color: 50, 49, 45;
        --decor-color: #353430;
        --bg-color: #ffeef6;
        --bg-image: url("../images/cover-image-light.png");
        --rec-content-before: none;
        --rec-content-after: none;
    }
}