/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

    max-inline-size: 1024px;
    margin-inline: auto;
    background-color: var(--bg-color);
    font-family: var(--main-font, monospace);
    background-attachment: fixed;
    background-image: var(--bg-image);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--main-color-text);
    font-size: 18px;
}

.header {
    block-size: 100vh;
    min-block-size: 375px;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr min-content 1fr;
    padding: clamp(10px, 2%, 20px);
}

.header__theme-menu-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.decorated-zone::before {
    content: " ";
    height: 25px;
    width: 25px;
    border-top: 1px solid var(--decor-color);
    border-right: 1px solid var(--decor-color);
    position: absolute;
    top: 20px;
    right: 20px;
}

.decorated-zone::after {
    content: " ";
    height: 25px;
    width: 25px;
    border-bottom: 1px solid var(--decor-color);
    border-left: 1px solid var(--decor-color);
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.header__theme-menu-button {
    color: var(--decor-color);
    text-transform: lowercase;
    padding: 2px 13px;
    line-height: 1;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
    outline: 1px solid rgba(var(--hover-color), var(--alpha));
}

.header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
    outline: 1px solid var(--decor-color);
    pointer-events: none;
    cursor: unset;
}

.rec {
    position: absolute;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--accent-color);
    right: 40px;
    top: 21px;
}

.rec::before {
    content: var(--rec-content-before);
    color: var(--accent-color);
}

.rec::after {
    content: var(--rec-content-after);
    display: inline-block;
    inline-size: 9px;
    block-size: 9px;
    background-color: var(--accent-color);
    border-radius: 50%;
    box-shadow: 0px 0px 4px var(--accent-color);
    position: relative;
    left: 10px;
    top: -1px;
}

.header__title {
    color: var(--title-color);
    text-shadow: 4px 4px 0px var(--title-text-shadow);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: start;
    align-self: center;
    margin-left: -15px;
    line-height: 0.84;
}

.header__text {
    color: var(--accent-color-text);
    background-color: var(--accent-color);
    font-size: 18px;
    max-width: 50%;
    font-weight: 700;
    justify-self: end;
    align-self: center;
}

.main {
    padding-top: clamp(2.5rem, 1.30727rem + 5.089vw, 3.75rem);
    padding-right: clamp(0.625rem, 0.02852rem + 2.545vw, 1.25rem);
    padding-bottom: clamp(2.5rem, 1.30727rem + 5.089vw, 3.75rem);
    padding-left: clamp(0.625rem, 0.02852rem + 2.545vw, 1.25rem);
}

.link {
    text-shadow: 1px 2px 0px var(--accent-color);
    text-decoration: none;
}

.link:hover {
    border-bottom: 1px solid var(--main-color-text);
}

.link:focus-visible {
    outline: 1px solid currentColor;
}

.limited-width {
    max-width: 320px;
}

.section__content.odd {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
}

.section__content-title {
    color: var(--decor-color);
    font-weight: 700;
    line-height: 1.3;
    font-size: 18px;
    margin-block-end: 20px;
}

.article-list.even {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.article-list li:not(:last-of-type) {
    margin-block-end: 20px;
}

.article-list li:last-of-type {
    padding-bottom: clamp(3.125rem, 1.33578rem + 7.634vw, 5rem);
}

.title-decor {
    color: var(--accent-color-text);
    background-color: var(--accent-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    margin-block-end: 14px;
}

.title-decor.thin-text {
    font-weight: 400;
}

.gallery-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0,  auto));
    grid-template-rows: repeat(3, minmax(0, auto));
    gap: 20px;
    grid-template-areas:
        'sunsen sunsen ice-cream'
        'tape books ice-cream'
        'tape street street';
}

.img1 {
    grid-area: sunsen;
}

.img2 {
    grid-area: ice-cream;
}

.img3 {
    grid-area: tape;
}

.img4 {
    grid-area: books;
}

.img5 {
    grid-area: street;
}

.footer {
    block-size: 100vh;
    min-block-size: 375px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__title {
    color: var(--title-color);
    text-shadow: 2px 2px 0px var(--title-text-shadow);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    font-weight: 700;
    line-height: 1.3;
}

@media (max-width: 768px) {

    .header__title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }

    .header__theme-menu {
        align-self: center;
    }

    .header__theme-menu-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .limited-width {
        max-width: 228px;
    }

    .section__content.odd {
        gap: 22px;
    }

    .article-list.even {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .gallery-list {
        margin-block-start: 26px;
    }

    .footer__title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }
}

@media (max-width: 480px) {

    .header__title {
        margin-inline-start: 0;
    }

    .header__text {
        max-width: 100%;
    }

    .decorated-zone::before {
        top: 10px;
        right: 10px;
    }

    .decorated-zone::after {
        bottom: 10px;
        left: 10px;
    }

    .section__content-title {
        margin-block-end: 23px;
    }

    .limited-width {
        max-width: 100%;
    }

    .section__content.odd {
        grid-template-columns: 1fr;
        gap: 2px;
    }

    .gallery-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-block-start: 17px;
    }
}

