
/*Не совсем поняла, что сюда надо писать,*/
/*просто перечень всех переменные, если да, то зачем нам*/
/*этот файл, если мы и так все эти переменные дублируем в темной и светлой теме*/

:root {
    --accent-color: #ff0070;
    --hover-color: 255, 0, 112;
    --title-color: #DB00FF;
    --main-color-text: #F1B2CE;
    --accent-color-text: #000028;
    --bg-color: #000028;
    --alpha: 0.4;
    --main-text:  'IBM Plex Mono';
}

